<form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="description">Description:</label>
      <input type="text" class="form-control" ng-model="searchParams.description" name="description" id="description" placeholder="Job description">
    </div>
    <div class="form-group">
        <label class="sr-only" for="location">Location:</label>
        <input type="text" class="form-control" ng-model="searchParams.location" name="location" id="location" placeholder="Job location">
    </div>
    <div class="form-group">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" ng-model="searchParams.partTime" name="partTime" id="dropdownMenu1" data-toggle="dropdown" data-target="#" aria-expanded="true">
                Job Type<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-click="searchParams.partTime = no"><a role="menuitem" tabindex="-1" href="#">Only Full-time</a></li>
                <li role="presentation" ng-click="searchParams.partTime = yes"><a role="menuitem" tabindex="-1" href="#">Full/Part time</a></li>
            </ul>
        </div>
    </div>
    <button class="btn btn-primary" type="button" ng-click="searchJobs()">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Posted on</th>
            <th>Location</th>
            <th>Type</th>
            <th>Company</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody id="classes">
        <tr ng-repeat="job in jobs">
            <td class="title">{{job.title}}</td>
            <td class="createdOn">{{job.created_on}}</td>
            <td class="location">{{job.location}}</td>
            <td class="type">{{job.type}}</td>
            <td class="company">{{job.company}}</td>
            <td class="details"><a href="/viewJobDetails/{{job.id}}">Details</a></td>
        </tr>
    </tbody>
</table>

