.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}

/*.grid {
  width: 500px;
  height: 200px;
}*/

body { padding-top:30px; }

.navbar-right {
  margin-right: 0px;
}


/*.appContainer {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    display: inline-block;
    border: 2px solid;
    vertical-align: top;
    width: 48%;
}

.dataLabel {
    width: 200px;
    display: inline-block;
}

.data {
    width: 100px;
    display: inline-block;
}*/